 * {
/*margin: 0px;
padding: 10px;
}*/
box-sizing: border-box;
max-width: -moz-available;
 }
body {  font-family: 'Nunito', sans-serif;
        margin:0; 
        justify-content: center;
        align-items: center;
        display: flex;
        /*height: max-content;*/
        
    }

.padre{
display: flex ;
flex-flow: column nowrap;
background: #454444;
/*max-width: 1200px;*/
/*width: 50%;*/
max-height:fit-content;
width: auto;


}
.margen-interno{padding:20px;
}
        .header{
        background: #454444;
        display: flex;
        flex-flow: column nowrap;
        

        }
            .menu{
                background:#454444;
                display: flex;
                flex-flow: row nowrap ;
                height: 100px;
                align-items: center;
                margin-top: 0px;
            }
            .logo{
                background:#454444; 
                padding: 0px 20px 0px 20px; 
                margin-top: 25px; 
                justify-content: center;
                display: flex;
               

            }
                .logo a {
                color: white;
                width: 250px;
            }
            
            .nav{
                background: white;
                border-radius: 0px 0px 5px 5px;
                flex: 5 1 auto;
                text-decoration: none;
                height: 100%;
                margin-right: 15px;
                display: flex;
                align-items: end; 
                /*font-weight: bold;*/
                font-family: 'Anton', sans-serif;
                
                
                

            }
            .nav a{
                color: #454444;
                font-size: 20px;
                text-transform: uppercase;
                padding: 0 15px;
                letter-spacing: 0px;
                text-decoration: none;
                padding-bottom: 15px;
                padding-left: 40px;
                
                    }
                    .nav a:hover{
                        color: #6BB979;
                    }
                    .nav a:on {
                        color: red;
                      }
.fa, .fas {margin-right: 10px; }

            .social{
                background: white;
                border-radius: 0px 0px 5px 0px;
                flex: 5 1 auto;
                text-decoration: none;
                height: 100%;
                display: flex;
                /*align-items: flex-start;*/
                flex: 1 1 auto;
                /*margin-right: 0;*/
                justify-content:right;
                
            
            }
                    .social a{
                    color: #454444;
                    font-size: 20px;
                    text-transform: uppercase;


                    }
                    .social a:hover{
                        color: #7B7B7B;
                       
                        }

            .texto-principal{
                background: url("../imagenes/bannerssss.jpg");
                background-repeat: no-repeat;
                background-size:cover;
                background-position:center;
                background-attachment:local;
                height: 950px;
                display: flex;
                align-items: center;
                margin: 15px 15px 0px 15px;
                border-radius: 5px 5px 0px 0px;
                                
            }

            .texto-principal-nosotros{
                flex-direction: column;
                padding: 0px 20px 0px 20px;
                background-color: #fff;
                background-size:contain;
                height:580px;
                display: flex;
                /*align-items: center; */
                margin: 15px 15px 0px 15px;
                border-radius: 5px 5px 0px 0px;
                font-family: 'Raleway', sans-serif;
                height: auto;
                font-size: 20px;
                text-align: justify;
            }
            .imagen-nosotros{ 
                width:max-content;
                height: auto;
            }
            .imagen-descripcion{
                
                display: flex;
                /*flex: content;*/
                text-align: left;
                margin-top: 10px;
                height: 80px;
            }
            .ofrecerte-imagen{
                width: 40px;
                height: 40px;
               
            }
            

            h1{ /*background: #454444;*/
                font-family: 'Anton', sans-serif;
                color: #454444;
                font-weight: 100;
                text-align: center;
                line-height: 1,6;
                font-size: 21px;
                background: rgba(255,255,255,0.1);
                padding: 20px;
                
                 }
            .section2{
                display:flex;
                padding:20px;
                background:white;
                margin: 0px 15px 15px 15px;
                border-radius: 0px 0px 5px 5px;
               /* padding: 0px 20px 0px 20px; */   
            }
            .section2-nosotros{
                display:flex;
                padding:20px;
                background:white;
                margin: 0px 15px 0px 15px;
                border-radius: 0px 0px 0px 0px;
               /* padding: 0px 20px 0px 20px; */   
            }
            .section3{
                display:flex;
                padding:20px;
                background:white;
                margin: 0px 15px 15px 15px;
                border-radius: 0px 0px 5px 5px;
               /* padding: 0px 20px 0px 20px; */   
            }

            .div-profesional{
                background: none;
                display: block;
                flex:1 1 50%;
                padding:0px;
                
                }
                #titulo-profesional{
                    text-transform: uppercase;
                    /*letter-spacing: -1px;*/
                    color: #262525;
                    font-size: x-large;
                    font-weight: 400;
                    text-align: left;
                    font-size: 35px;
                    padding:0px;
                    margin: 0px;
                    
                }
               /* .linea-vertical{
                    border-left: 1px solid #454444;
                    height: 100px;
                    align-self:center ;
                    
                }*/

                .titulo-profesional2{
                    letter-spacing: 1px;
                    color: #454444;
                    font-weight: 100;
                    text-align: justify;
                    font-size: 29px;
                    padding: 0px 30px 0px 0px;
                    margin: 0px;
                    border-right-style: double;
                }
                .parrafogratuito{
                    font-family: 'Raleway', sans-serif;
                    color: #454444;
                    padding: 0px ;
                    
                    text-align: justify;
                    font-size: 20px;
                    margin: 10px 0px 10px 0px;
                }
                .icono{width: 30px;
                       height: 30px; 
                       align-items: center; 
                      /* margin-left: 20px;*/
                    }

                .gratuito-verde{
                    color:#36743D;

                }

                .gratuito-verde a{
                    text-decoration:none;
                    color:#6BB979;

                }

                .gratuito-verde a:hover{
                    text-decoration:none;
                    color:#838383;

                }

            .div-enlace-presupuesto{
                background:none;
                display: block;
                flex:1 1 50%;
                padding:0px 0px 10px 25px;
                
                         
                
                
                                
                
            }


            .titulo-descripcion{
                align-content: left;
                display: flex;
            }
            .titulo-descripcion img{
                object-fit:fill;
            }
         .section{
        background: #454444;
        display: flex;
        padding: 0px 15px 15px 15px;

        
        
    }
                
        
    
            .section img{
                width:500px;
                height:300px;
                display: flex;
            }
        .articulos{
            background:white;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap; 
            border-radius: 5px 0px 0px 5px;
        }
        .article{
            background:rgb(255, 255, 255);
            flex: 1 1 40%;
            /*flex-wrap:wrap;*/
            padding: 10px;
            font-size: 13px;
            letter-spacing: 1px;
            border-radius: 5px 0px 0px 5px;
            
        }
      .article img{width:100%;
    }
        h3{
            color:#fff;
            font-size: 13px;
            padding: 10px 0 0 10px;
            margin-top: -100px;

        }
        h2{
            color:#fff;
            font-size: 25px;
            padding: 0px 0 10px 10px;
            text-transform: uppercase;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            

        }
        .navegacion{
            background:aliceblue;
            flex: 1 1 100%;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            border-radius: 0 0 0 5px;
        }
    
                .navegacion a{
                    color:#454444;
                }
                .navegacion a:hover{
                    color: #6BB979;
                }
      .aside{
            background: white;
            flex: 1 1 40%;
            padding: 15px;
            border-radius: 0 5px 5px 0;
            
        }
                .aside img{
                    flex:1 1 auto;
                    /*width:100%;*/
                    padding: 10px 0 0px 0px;
                }
        .publicidad{
            background:white;
            
        }
        

   .footer{
        
        background: #454444;
        display: flex;
        justify-content: right;
        padding:0 15px 0 15px;
        height: 300px;
        
        }
        .pie {
            background-image: url("../imagenes/Madrid-2byn.jpg");
            background-repeat:no-repeat;
            background-position: center;
            background-size: cover;
            width: 300px;
            flex: 10 1 auto;
            justify-content:center;
            padding: 15px;
            border-radius: 5px 5px 0px 0px; 
            text-align: center;
            font-weight:600;
        }
        .pie a{
            text-decoration:none;
            color: #fff;

        }
        .pie a:hover{
            color: #7B7B7B;

        }
        .social-pie{
            background: #454444;
            width: 200px;
            /*flex: 1 1 auto;*/
            padding-top: 10px;
            margin-bottom: 0px;
            border-radius: 0px 5px 0px 0px;
            letter-spacing: 15px;
            text-align: center;
            padding-left: 20px;

        }
        .social-pie a{
            text-decoration:none;
            color: #6BB979; 
            font-size: 20px;
        }
        .social-pie a:hover{
            color: #fff;

        }
        /*NOSOTROS
        .parrafogratuito2{
            font-family: 'Raleway', sans-serif;
            color: #454444;
            padding: 0px ;
            
            text-align: justify;
            font-size: 20px;
            margin: 10px 0px 10px 0px;
        }*/
/*SERVICIOS*/
        .ofrecerte{
             display: flex;
             
             background-color: #F1F1F1;
             border-radius: 5px;
             padding: 20px;
             margin-top: 30px;
             color:#6BB979 ; 
             font-weight: 600;
             font-style: italic;
             font-size:18px;  

        }
        .contenedor-servicios{
            font-family: 'Raleway', sans-serif;
            flex-wrap: wrap;
            width: auto;
            height: auto;
            background-color:#454444 ;
            color: #fff;
            border-radius: 5px;
            padding: 20px;
            margin-top: 40px;
        }
        .imagen-servicios{
            display:flex;
            max-width: 100%;
            border-radius: 5px;
            max-height: 100%;
            height: auto;
            size: cover;
        }

        .subtitulo-medio{
            font-size: 60px;
            margin:20px 0px 0px 0px;

        }
        .subtitulo-grande1{
            max-width: 100%;
            font-weight: 700;
            font-size: 110px;
            margin: 0px 0px 0px 0px;
            color:#4DABED;
            line-height: 50%;
        }
        .subtitulo-grande2{
            max-width: 100%;
            font-weight: 700;
            font-size: 110px;
            margin: 0px 0px 0px 0px;
            color:#DCEFFE;
            line-height: 50%;
        }

        .subtitulo-grande3{
            max-width: 100%;
            font-weight: 700;
            font-size: 110px;
            margin: 0px 0px 0px 0px;
            color:#BABABA;
            line-height: 50%;
        }
        .subtitulo-grande4{
            max-width: 100%;
            font-weight: 700;
            font-size: 110px;
            margin: 0px 0px 0px 0px;
            color:#F7F000;
            line-height: 50%;
            
        }
        
        .descripcion-servicio-texto{
            display: flex;
            flex-wrap: wrap;
            text-align: justify;
            float: right;
            margin: 14px 0px 0px 20px ;
        }
        .contenedor-titulos{
            display: flex;
            flex: 2 1 auto;
            font-family:'Roboto Condensed', sans-serif;
            

        }

        .btn1{
           
            background-color:#4DABED ;
            border-radius: 5px;
            color: #454444;
            transition: all 0.5s;
            cursor: pointer;
            border:none;
            text-align: center;
            padding: 5px 10px 5px 10px;
            font-weight: 600;
            float: right;
            
        }
        .btn2{
            background-color:#DCEFFE;
            border-radius: 5px;
            color: #454444;
            transition: all 0.5s;
            cursor: pointer;
            border:none;
            text-align: center;
            padding: 5px 10px 5px 10px;
            font-weight: 600;
            float: right;
        }

        .btn3{
            background-color:#BABABA;
            border-radius: 5px;
            color: #454444;
            transition: all 0.5s;
            cursor: pointer;
            border:none;
            text-align: center;
            padding: 5px 10px 5px 10px;
            font-weight: 600;
            float: right;
        } 
        
        .btn4{
            background-color: #F7F000;
            border-radius: 5px;
            color: #454444;
            transition: all 0.5s;
            cursor: pointer;
            border:none;
            text-align: center;
            padding: 5px 10px 5px 10px;
            font-weight: 600;
            float: right;
        }
        
        .btn1:hover{ 
            background-color: #367bac;
            transition: all 0.4s;
        }
        .btn2:hover{ 
            background-color:#aab8c4;
            transition: all 0.4s;
        }
        .btn3:hover{ 
            background-color: #858484;
            transition: all 0.4s;
        }
        .btn4:hover{ 
            background-color: #c5bf00;
            transition: all 0.4s;
        }
        .gota{
            display:block;
            margin:auto;
            
        }
        .imagen-gota{margin-top: 40px;
        }
/*CONTACTO*/
.contenedor-div-formulario{
    display: flex;   
    flex: 1 1 auto;
    flex-direction: ROW; 
    color:#fff ;
    font-weight: 700;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: red;
    border-radius: 5px;
}

.contenedor-lado-uno{
    display: block;
    
}
.contenedor-lado-dos{
    display: block;
    
}
/*.contenedor-lado-tres{}*/
input, textarea{
    display: flex;
   
    outline: none;
    border-radius: 10px;
    border: 0;
    background-color: #E5E5E5;
    width: 300px;
    padding: 5px;
    margin: 5px;
    font-family: 'Roboto Condenced', sans-serif;
    font-size: 12px;
    align-items: right;
}
.contenedor-div-formulario2{
    
    color:#fff ;
    font-weight: 700;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: #454444;
    border-radius: 5px;
}

#Dirección{width: 525px      ;}
/*.formulario-contacto{}*/
.vector-limpiando{
   
    display: flex;
    background-image: url("../imagenes/Frame.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 800px;
    float:right;
   
}
.datos-contacto{
    background-color: #36743D;
    display: flex 1 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    width: 850px;
    height: 750px;
    padding: 40px;
    margin: 10px;
    align-items: center;
    grid-template-columns: repeat(2, 200px)
}
.telefono{
    background: #367bac;
    width: 400px;

}
.direccion{
    width: 400px;
    background: #4236ac;
}

.correo{
    width: 400px;
    background: #ac6b36;
}
.redes{
    width: 400px;   
    background: #ca1e1e;
}
/*Responsive scream*/
       @media all and (max-width: 3800px){
        .texto-principal-nosotros{
            flex: auto 1 1;
            flex-direction: column; 
            flex-wrap: wrap;                       
        }
            .contenedor-servicios{
                max-width: 40%;
                max-height: 70%;
                align-self: center;   
                                     
            }
        }
  @media all and (max-width: 2160px){
            .contenedor-servicios{
                
                max-width: 50%;
                max-height: 70%;
                align-self: center;                         
    }}
        @media all and (max-width: 948px){
            .section{
                flex-direction: column;
                
                
            }
            .article{
                border-radius: 5px 5px 0px 0px;
                

            }
            .articulos{
                border-radius: 5px 5px 0px 0px;
                
            }
            .menu{
                flex-direction: column;
                height: auto;
                margin:0px 15px 0px 15px;
                
            }
            
            .nav{margin-right: 0px;
                border-radius:5px 5px 5px 5px ;
                padding-top:10px;
            }
            .aside{
                display: flex;
                justify-content:center;
                border-radius: 0px 0px 5px 5px;
                
                
            }
            .aside img{width:100%;}
            h1{
                font-size: 15px;
                

            }
            .publicidad{padding:10px ;}
            .texto-principal{
                height: 450px;

            }
            .contenedor-titulos{
                flex:block;
                flex-direction: column;
                flex-wrap: nowrap;
                max-width: 100%;
            }
            .subtitulo-medio{
                font-size: 20px;
                
    
            }
            .subtitulo-grande1{
                
                font-size: 60px;
               
            }
            .subtitulo-grande1{
                line-height: 80%;
            }
            .subtitulo-grande2{
                
                line-height: 80%;
            }
    
            .subtitulo-grande3{
                
                line-height: 80%;
            }
            .subtitulo-grande4{
                
                line-height: 80%;
                
            }
        }
        @media all and (max-width: 762px){
            .articulos{
                flex-direction: column;
            }
            .h1{
                font-size: 15px;
            }
        }
        @media all and (max-width: 650px){
            .off{
                display: none;
            }
            .aside{
                display: flex;
                flex-wrap: wrap;
                width: 100%;

            }
        }
        @media all and (max-width: 520px){
                .pie{font-size: 12px;
                     flex-direction: column;
            }
                .section2{flex-direction: column;
            }
        }
        @media all and (max-width: 400px){
                    .aside{ 
                        flex-direction: column;
                        display: flex;
                        flex-wrap: nowrap;
                        width: 100%;
            }
                    .pie {
                        padding: 5px;}
                    .pie a{ 
                        font-size: 11px;
                        padding: 5px;
            }

                    .social-pie{display:flex;
                        justify-content:center;
                        padding: 15px 0 0 10px;
                        letter-spacing: 23px;
            }
            .subtitulo-grande1{
                font-size: 50px;
               
            }
            .subtitulo-grande2{
                font-size: 50px;
                
            }
    
            .subtitulo-grande3{
                
                font-size: 50px;
                
            }
            .subtitulo-grande4{

                font-size: 50px;
              
            }
            .imagen-servicios{
                max-width: 100%;
                border-radius: 5px;
            }
            .contenedor-servicios{max-width: 100%;
            margin: 30px;}
            .texto-principal-nosotros{margin: 20px;}
        }
        @media all and (max-width: 360px){
                        .texto-principal-nosotros{
                            flex-direction: column;
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;    
                            margin: 20px;
                            
                        }
                        .section2{flex-direction: column;
                        }

                        .imagen-servicios{
                            max-width: 100%;
                            border-radius: 5px;
                        }
                        .contenedor-servicios{max-width: 100%;
                        margin: 0px 60px 0px 60px;}
                    }
                